<div class="layui-side layui-side-menu">
	<div class="layui-side-scroll">

		<div class="layui-logo" lay-href="">
			<span>layuiAdmin Pro</span>
		</div>
		<ul class="layui-nav layui-nav-tree" lay-shrink="all"
			id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">
			<li data-name="" data-jump="" class="layui-nav-item layui-nav-itemed">
				<a href="javascript:;" lay-tips="主页" lay-direction="2"> <i
					class="layui-icon layui-icon-home"></i> <cite>主页</cite> <span
					class="layui-nav-more"></span></a>
				<dl class="layui-nav-child">
					<dd data-name="" data-jump="/" class="layui-this">
						<a href="javascript:;" lay-href="/">控制台</a>
					</dd>
					<dd data-name="homepage1" data-jump="home/homepage1">
						<a href="javascript:;" lay-href="home/homepage1">主页一</a>
					</dd>
					<dd data-name="homepage2" data-jump="home/homepage2">
						<a href="javascript:;" lay-href="home/homepage2">主页二</a>
					</dd>
				</dl>
			</li>
			
			
			<li data-name="set" data-jump="" class="layui-nav-item layui-nav-itemed"><a
				href="javascript:;" lay-tips="设置" lay-direction="2"> <i
					class="layui-icon layui-icon-set"></i> <cite>设置</cite> <span
					class="layui-nav-more"></span></a>
				<dl class="layui-nav-child">
					<dd data-name="system" data-jump="" class="layui-nav-itemed">
						<a href="javascript:;">系统设置<span class="layui-nav-more"></span></a>
						<dl class="layui-nav-child">
							<dd data-name="website" data-jump="">
								<a href="javascript:;" lay-href="set/system/website">网站设置</a>
							</dd>
							<dd data-name="email" data-jump="">
								<a href="javascript:;" lay-href="set/system/email">邮件服务</a>
							</dd>
						</dl>
					</dd>
					<dd data-name="user" data-jump="" class="layui-nav-itemed">
						<a href="javascript:;">我的设置<span class="layui-nav-more"></span></a>
						<dl class="layui-nav-child">
							<dd data-name="info" data-jump="">
								<a href="javascript:;" lay-href="set/user/info">基本资料</a>
							</dd>
							<dd data-name="password" data-jump="">
								<a href="javascript:;" lay-href="set/user/password">修改密码</a>
							</dd>
						</dl>
					</dd>
				</dl></li>
				
			<span class="layui-nav-bar"></span>
		</ul>
	</div>
</div>